<include file="Common/_meta"  />

<link href="__PUBLIC__/Admin/lib/webuploader/0.1.5/webuploader.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="page-container">
	<form action="__ACTION__" method="post" class="form form-horizontal" id="form-article-add" enctype="multipart/form-data">
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>食物名称：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" value="{$food.food_name}" placeholder="" id="fer" name="food_name">
			</div>
		</div>

		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">
				<span class="c-red">*</span>商家：</label>
			<div class="formControls col-xs-8 col-sm-9">
			<span class="select-box">
				<select name="res_id" class="select">
					<option value="0">--请选择--</option>
					<volist name="restaurant" id="vol">
						<option value="{$vol.id}" <if condition=" $food.res_id == $vol.id ">selected</if>>{$vol.res_name}</option>
					</volist>
				</select>
			</span>
			</div>
		</div><div class="row cl">
		<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>产品展示价格：</label>
		<div class="formControls col-xs-8 col-sm-9">
			<input type="text" name="food_nowprice" id="" placeholder="" value="{$food.food_nowprice}" class="input-text" style="width:90%">
			元</div>
	</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>市场价格：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" name="food_price" id="" placeholder="" value="{$food.food_price}" class="input-text" style="width:90%">
				元</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>销量：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" value="{$food.food_sale}" placeholder="" id="articlesort" name="food_sale">
			</div>
		</div>


		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>菜品图片：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<div class="uploader-thum-container">
					<div id="fileList" class="uploader-list"></div>
					<div id="filePicker" style="display: none;"></div>
					<input type="file" name="is_logo" />
				</div>
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>菜品详情：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<textarea id="editor" name="food_introduce" type="text/plain" style="width:100%;height:400px;">{$food.food_introduce}</textarea>
			</div>
		</div>
		<div class="row cl">
			<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-2">
				<button onClick="article_save_submit();" class="btn btn-primary radius" type="submit"><i class="Hui-iconfont">&#xe632;</i> 保存并提交审核</button>
				<button onClick="article_save();" class="btn btn-secondary radius" type="button"><i class="Hui-iconfont">&#xe632;</i> 保存草稿</button>
				<button onClick="layer_close();" class="btn btn-default radius" type="button">&nbsp;&nbsp;取消&nbsp;&nbsp;</button>
			</div>
		</div>
		<input type="hidden" name="id" value="{$food.id}">
	</form>
</div>

<!--_footer 作为公共模版分离出去-->
<include file="Common/_footer"  />
<!--/_footer 作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="__PUBLIC__/Admin/lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="__PUBLIC__/Admin/lib/jquery.validation/1.14.0/jquery.validate.js"></script>
<script type="text/javascript" src="__PUBLIC__/Admin/lib/jquery.validation/1.14.0/validate-methods.js"></script>
<script type="text/javascript" src="__PUBLIC__/Admin/lib/jquery.validation/1.14.0/messages_zh.js"></script>
<script type="text/javascript" src="__PUBLIC__/Admin/lib/webuploader/0.1.5/webuploader.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Admin/lib/ueditor/1.4.3/ueditor.config.js"></script>
<script type="text/javascript" src="__PUBLIC__/Admin/lib/ueditor/1.4.3/ueditor.all.min.js"> </script>
<script type="text/javascript" src="__PUBLIC__/Admin/lib/ueditor/1.4.3/lang/zh-cn/zh-cn.js"></script>
<script type="text/javascript">




    $(function(){
        var ue = UE.getEditor('editor');
    });
</script>
</body>
</html>